
a{
    color: white;
}

a:hover{
    color: #02d287;
}

.topcaciones:hover{
    color: white;
}

.logo{
    font-weight: lighter;
}

.div1_1{
    margin: 0;
}

#divart {
    background-image: linear-gradient( rgba(170, 68, 124, 1), rgba(48, 44, 44, 0));
    background-size: cover;
    text-align: center;
    white-space: pre-line;
    line-height: 20px;
    border: 100px;
    border-color: black;
  
}

.div1_1{
    width: 100%;
    margin: 80px 0 40px 0;  
}


h1{
    font-size: 45px;
    line-height: 60px; 
}

.Fotoartista{
    display: block;
    margin: auto;
    width: 35%;
    border-radius: 50%;

}

.favplay{
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 30px;
}

.catalogcontainer{
    padding: 16px; 
}

.details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    padding: 5px;
}

.numbername{  
    font-size: 12px;
}

.favmin{
    justify-content: space-between;
    width: 15%;
    margin-right: 5px;
    font-size: 12px;
}

@media (min-width: 768px){
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 25px;
    }

   .details{
        margin-top: 20px;
        padding: 10px;
    }

   .numbername{
        font-size: 15px;
    }

    .favmin{
        width: 15%;
        margin-right: 5px;
        font-size: 15px;
    }
}

@media (min-width: 1024px){
    h1{
        font-size: 55px;
    }
    .div1_1{
        margin-top: 0;
    }
   

   .details{
        margin-top: 23px;
        padding: 10px;
    }

   .numbername{
        font-size: 18px;
    }

    .favmin{
        font-size: 18px;
        margin-right: 5px;
        width: 10%; 
    }

    .favplay{
        width: 25%;
        font-size: 30px;
    }
}