*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family:'Montserrat', sans-serif;
    background-color: #fff;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.arrow{
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    cursor: pointer;
}

.iniciarSesion{
    width: 80%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 10px;
    line-height: 35px;
    margin-top: 40px;
}

article{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    width: 140px;
    height: 35px;
    background-color: #0bc85a;
    border: none;
    border-radius: 17px;
    padding: 4px 2px;
    font-size: 15px;
    margin-top:5px;
    color: white;
    letter-spacing: 2px;
    float: right;
}

.registro{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 15px 25px;
    line-height: 35px;
}
input{
    width: 75vw;
    height: 30px;
}

@media (min-width: 768px){
    .container{
        width: 80%;
        display: flex;
        margin: auto;
    }
    .registro, .iniciarSesion{
    width: 60%;
    }
    input{
        width: 50vw;
        height: 35;
        font-size: 15px;
    }
    button{
        width: 160px;
        font-size: 17px;
    }
}
@media (min-width: 1024px){

    .container{
        width: 50%;
    }
    input{
        width: 30vw ;
    }
    buttonñ

    
}